<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbConnect" connectionString="Server=217.28.223.127,17160;User Id=user_0d3bd;Password=Wp3%2L{or9B!=;Database=db_52557;" providerName="System.Data.SqlClient" />
  </connectionStrings>
 <appSettings>
   <add key="tokenTest" value="6144502389:AAHNqNvAEJt69OuJQRWLm_lEOKzYxRUuovQ"/>
   <add key="token" value="5636802079:AAHTO8-HuzO5aIPV2TCuzxedUzuKj1c5ofI"/>
   <add key="addUser" value="5836080125"/>
   </appSettings>
</configuration>